Source: fbcat
Section: graphics
Priority: extra
Maintainer: Piotr Lewandowski <piotr.lewandowski@gmail.com>
Uploaders: Luca Bruno <lucab@debian.org>
Build-Depends: debhelper (>= 7), docbook-xml (>= 4.5), docbook-xsl, xsltproc, libxml2-utils
Standards-Version: 3.8.3
Homepage: http://fbcat.googlecode.com/

Package: fbcat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: fbgrab (<< 1.0.0-5)
Provides: fbgrab 
Replaces: fbgrab (<< 1.0.0-5)
Recommends: netpbm | graphicsmagick | imagemagick
Description: framebuffer grabber
 fbcat grabs an image of a framebuffer and stores in a PPM file.
 .
 This package also provides a compatibility wrapper around fbcat to ease
 migration from fbgrab.
