Source: fbcat
Section: graphics
Priority: extra
Maintainer: David Lechner <david@lechnology.com>
XSBC-Original-Maintainer: Piotr Lewandowski <piotr.lewandowski@gmail.com>
Build-Depends: debhelper (>= 7), docbook-xml (>= 4.5), docbook-xsl, xsltproc, libxml2-utils, linux-libc-dev, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.3
Vcs-Browser: http://github.com/ev3dev-dpkg/fbcat
Vcs-Git: git://github.com/ev3dev-dpkg/fbcat
Homepage: http://fbcat.googlecode.com/

Package: fbcat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: fbgrab
Provides: fbgrab 
Replaces: fbgrab
Recommends: netpbm | graphicsmagick | imagemagick
Description: framebuffer grabber
 fbcat grabs a screenshot of a framebuffer and stores in a PPM file.
 .
 This package also provides a compatibility wrapper around fbcat to ease
 migration from fbgrab.
